@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";

/* import Flowbite plugin */
@plugin "flowbite/plugin";

/* add Flowbite Vue directory using @source directive */
@source "../node_modules/flowbite-vue";

@import "primeicons/primeicons.css";

/* body {
  background-color: rgb(231, 242, 248);
  color: black;
} */

body {
  background-color: #f1f4fb;
  color: black;
}

.dark body {
  background-color: black;
  color: white;
}
